@{
    ViewData["Title"] = "Home Page";
}

<header>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Almas` Bookstore</h1>
            <p>This is my prototype library service system, more precisely, I'm trying to recreate it as a mini-project.</p>
        </div>
    </div>
</div>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Books">How to use</a>
        </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Books">Links</a>
            </li>
    </ul>
</div>
</header>